/* ぶレイクポイント
================================================================================================= */

$breakpoints: (
	'xl': 'screen and (max-width: 1280px)',
	'lg': 'screen and (max-width: 1024px)',
	'md': 'screen and (max-width: 768px)',
	'sm': 'screen and (max-width: 640px)',
	'xs': 'screen and (max-width: 425px)',
) !default;

// ブレイクポイントのmixin
@mixin mq($bp) {
	@media #{map-get($breakpoints, $bp)} {
		@content;
	}
}


/* color
================================================================================================= */


$green : #008345;
$gold : #9f8d55;
$cream : #fbfaf5;
//$cream : gold;

/* font
================================================================================================= */

$mincho : "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;




/* heading
================================================================================================= */

@mixin common_heading() {
    text-align: center;
    margin-bottom: 100px;
    font-size: 24px;
    &__en{
        color: $gold;
        font-size: 20px;
    }
	&__jp{
		font-size: 32px;
	}
}


$rutePath : '/chinzansou';

/* width
================================================================================================= */
$main_width : 1280px;

@mixin main_width() {
	width: $main_width;
	margin: 0 auto;
	max-width: 96%;
	@include mq(xl) {
		width: 96%;
	}
}

/* 
================================================================================================= */

@function px2vw( $px , $width ) {
	
	@return calc( ( 1 / ($width / $px) ) * 100vw ) ;

}