---
import Cuisine from '../components/Cuisine.astro'
const { rutePath } = Astro.props;
---

<div class="wrapper">
    <div class="heading">
        <span class="heading__en">BRIDAL FAIR</span>
        <h2 class="heading__jp">挙式が決まったらまずは<br class="mdbr">ブライダルフェアに参加してみましょう</h2>
    </div>

    <div class="lead">
        <p>ブライダルフェアなら、結婚式場見学だけではなく<br class="mdbr">実際に婚礼料理の試食やウエディングドレスの試着、<br>模擬挙式、披露宴なども体験できます。<br class="mdbr">デート感覚でぜひご利用ください。</p>
    </div>
    <div class="ratio">

        <div class="ratio__inner">

            <div class="ratio__heading">
                <h2 class="ratio__heading-text">カップルの９割以上が<br class="mdbr">試食会に参加しています</h2>
            </div>

            <div class="ratio__lead">
                <p>「ゼクシィ」の調査によれば、<br class="mdbr">試食会付きのブライダルフェアに参加した<br class="mdbr">カップルの割合は実に９割以上です。<br>雰囲気に慣れたいと思っていたり、<br class="mdbr">どこで挙式しようか迷っていたりするなら<br class="mdbr">フェアのご利用をオススメします。</p>
            </div> 

            <div class="ratio__heading2">
                <h3 class="ratio__heading2-text">みんなどのくらい試食会に参加してる？</h3>
            </div>

            <div class="ratio__grid">

                <div class="ratio__graph">
                    <img class="ratio__images-img" src={ rutePath + "/img/bridalfair-graph.png" } alt="">
                </div>

                <div class="ratio__text">
                    <p>ゼクシィの調査<small class="ratio__text-small">(*)</small>によれば、先輩花嫁206人に「試食会付きのブライダルフェアに参加しましたか？」と聞いたところ、93.7％の人がYesと回答。ほとんどの人が会場を決める前に試食を体験しているようです。会場を決めるには雰囲気やイメージだけでなく、料理内容やその味を確かめることが重要だと、多くの花嫁の方々が考えるようです。</p>
                    <small class="ratio__text-small">*引用元：<a class="text-link" href="https://zexy.net/wedding/bridalfair/tasting/" target="_blank" rel="openner">ブライダルフェアの種類とメリットをご紹介！</a></small>
                </div>

                <div class="ratio__images">
                    <img class="ratio__images-img" src={ rutePath + "/img/bridalfair-01.jpg" } alt="">
                    <img class="ratio__images-img" src={ rutePath + "/img/bridalfair-02.jpg" } alt="">
                    <img class="ratio__images-img" src={ rutePath + "/img/bridalfair-03.jpg" } alt="">
                    <img class="ratio__images-img" src={ rutePath + "/img/bridalfair-04.jpg" } alt="">
                    <img class="ratio__images-img" src={ rutePath + "/img/bridalfair-05.jpg" } alt="">
                    <img class="ratio__images-img" src={ rutePath + "/img/bridalfair-06.jpg" } alt="">
                </div>


            </div>


        </div>

    </div>

    <Cuisine rutePath={rutePath}/>

    <div class="conclusion">
        <div class="conclusion__text">
        <p>ブライダルフェアでは会場の確認もとても重要です。
            ホームページやSNSなどでも会場の確認はできますが、実際の会場をご自身の目でご覧になることを
            おすすめします。会場の雰囲気や料理など、五感で感じながらお試しください。
            収容人数や天井の高さ、生演奏の有無、種類など、チェックしておきたいポイントは山ほど。
            他にも化粧室までの距離が遠くないか、実際にゲストの席に座ってみて、
            座り心地や隣の人との間隔などもお確かめください。
            </p>
        </div>
        <div class="conclusion__images">
            <img class="conclusion__images-img" src={ rutePath + "/img/bridalfair-07.jpg" } alt="">
            <img class="conclusion__images-img" src={ rutePath + "/img/bridalfair-08.jpg" } alt="">
            <img class="conclusion__images-img" src={ rutePath + "/img/bridalfair-09.jpg" } alt="">
            <img class="conclusion__images-img" src={ rutePath + "/img/bridalfair-10.jpg" } alt="">
        </div>  
    </div>


</div>

<style lang="scss">
@use '../styles/variables.scss' as v;

.wrapper{
    padding: 100px 0;
    font-family: v.$mincho;
    @include v.mq(md){
        padding: 50px 0;
    }
}
.heading{
    @include v.common_heading;
}

.lead{
    text-align: center;
    max-width: 96%;
    margin: 0 auto 100px;
    @include v.mq(md){
		font-size: max(14px, v.px2vw(16,768));
        margin-bottom: 50px;
	}
}

.ratio{
    background-image: url( v.$rutePath + '/img/bridalfair-bg.jpg');
    background-size: cover;
    background-position: center;
    &__inner{
        background-color: rgba(#fff,.9);
        @include v.main_width;
        padding: 0 30px 30px;
    }

    &__heading{
        background-color: v.$gold;
        color: #fff;
        width: fit-content;
        padding: 10px 100px;
        border-radius: 3em;
        margin: 0 auto 50px;
        @include v.mq(md){
            padding: 10px 20px;
            width: 90%;
            text-align: center;
		}
    }
    &__heading-text{
        font-size: 24px;
        @include v.mq(md){
			font-size: max(16px, v.px2vw(24,768));
		}
    }

    &__lead{
        text-align: center;
        margin-bottom: 80px;
        @include v.mq(md){
            font-size: 14px;
            margin-bottom: 40px;
        }
    }

    &__heading2{
        text-align: center;
        margin-bottom: 40px;
        @include v.mq(md){
            margin-bottom: 20px;
        }
        a{
            @include v.mq(md){
                font-size: 10px;
            }   
        }
    }
    &__heading2-text{
        font-size: 24px;
        @include v.mq(md){
            font-size: 18px;
        }
    }


    &__grid{
        display: grid;
        grid-template: 
        "g t" auto
        "g i" auto / 
        40% 60%;
        @include v.mq(md){
            display: block;
        }
    }

    &__graph{
        grid-area: g;
        padding: 10px;
        width: 80%;
        margin: 0 auto;
    }
    &__text{
        grid-area: t;
        margin-bottom: 2em;
        @include v.mq(md){
            font-size: 14px;
        }
    }

    &__text-small{
        font-size: 12px;
        @include v.mq(md){
            font-size: 10px;
        }
    }

    &__images{
        
        grid-area: i;
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: auto auto;
        gap: 10px 2%;
    }
    &__images-img{

    }

}

.conclusion{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    &::before{
        content: "";
        width: 60vw;
        height: 300px;
        background-color: v.$cream;
        display: block;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        @include v.mq(md){
            width: 100%;
        }
    }

    &__text{
        text-align: center;
        @include v.main_width;
        margin-bottom: 80px;
        justify-content: center;
        padding-left: 200px;
        padding-right: 200px;
        position: relative;
        &::before{
            content: "";
            width: 50px;
            height: 2px;
            background-color: v.$gold;
            position: absolute;
            top: -50px;
            transform: translate(-50%, -50%);
        }
        @include v.mq(xl){
            padding-left: 0px;
            padding-right:0px;
        }
        @include v.mq(md){
            font-size: 14px;
        }
    }

    &__images{
        display: flex;
        @include v.main_width;
        justify-content: space-between;
    }

    &__images-img{
        width: 24%;
    }
}


</style>