---
const { rutePath } = Astro.props;
---

<div class="wrapper">
    <div class="heading">
        <span class="heading__en">Ceremony</span>
        <h2 class="heading__jp">ホテル椿山荘東京の挙式</h2>
    </div>


    <div class="lead">
        <p>チャペルウエディング、神殿挙式、料亭ウエディング、ガーデンウエディング、などご希望に合わせた挙式スタイルを幅広くご提案します。</p>
    </div>

    <div class="ceremony-heading" data-en="CHAPEL">
        <p>チャペルウエディング</p>
    </div>

    <div class="sec sec--first">
        <div class="sec__inner">
            <div class="sec__heading">
                <span class="sec__heading-name">ルミエール</span>
                <span class="sec__heading-vol">収容人数：96名様</span>
            </div>        
            <div class="sec__text">
                <p>・ 滝をご覧いただけるだけでなく、せせらぎも聞こえます</p>
                <p>・ 光、水、緑がありとても癒される空間です</p>
                <p>・ まるで森の中で結婚式をしているようなチャペル</p>
                <p>・ 天候に左右されない全天候型です</p>
            </div>
            <div class="images">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony01-01.jpg"} alt="">
                    <p class="images__text">開放感があり、日差しが美しく照らします
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony01-02.jpg"} alt="">
                    <p class="images__text">緑の前で爽やかに愛を誓い合えるでしょう
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony01-03.jpg"} alt="">
                    <p class="images__text">祝福してくれる参列者のお顔までよく見えます
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sec sec--second">
        <div class="sec__inner">
            <div class="sec__heading sec__heading--second">
                <span class="sec__heading-name">ヴァンヴェール</span>
                <span class="sec__heading-vol">収容人数：80名様
                </span>
            </div>        
            <div class="sec__text  sec__text--second">
                <p>・ 庭園に建つ唯一の独立型チャペルです</p>
                <p>・ 独立型だからこそフォトスポットが多数</p>
                <p>・ ホワイエ～チャペル内の照度に拘りシックな雰囲気</p>
                <p>・ 大人っぽく、落ち着いた雰囲気の中での挙式</p>
                <p>・ 天井は５ｍと高く、とても開放感があります</p>
                <p>・ ２０２３年９月にリニューアル予定(画像はイメージです)</p>
            </div>
            <div class="images images--second">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony02-01.jpg" } alt="">
                    <p class="images__text">落ち着いた雰囲気がお好みならヴァンヴェール
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony02-02.jpg" } alt="">
                    <p class="images__text">教会以外もシックな雰囲気で彩られています
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony02-03.jpg" } alt="">
                    <p class="images__text">独立したチャペルで演出されるプライベート感
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sec sec--third">
        <div class="sec__inner">
            <div class="sec__heading sec__heading--third">
                <span class="sec__heading-name">シエル
                </span>
                <span class="sec__heading-vol">収容人数：70名様
                </span>
            </div>        
            <div class="sec__text  sec__text--third">
                <p>・ ホテルの中でも一番高台にあり、光や緑や空を感じられるチャペル</p>
                <p>・ 目の前に広がる窓からは緑が見え、自然光が降り注ぎます</p>
                <p>・ 光や緑だけでなく、木目調で落ち着く空間です</p>
                <p>・ 少人数婚検討の方に合ったプライベート感</p>
                <p>・ ラグジュアリー＆エレガンスなホテル棟に唯一あるチャペルです</p>
            </div>
            <div class="images ">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony03-01.jpg" } alt="">
                    <p class="images__text">まるで天空にいるかのようなチャペル
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony03-02.jpg" } alt="">
                    <p class="images__text">木目調で自然豊かなイメージです
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony03-03.jpg" } alt="">
                    <p class="images__text">少人数でご検討の方々に人気です
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ceremony-heading" data-en="TEMPLE">
        <p>神前挙式</p>
    </div>


    
    <div class="sec sec--fourth">
        <div class="sec__inner">
            <div class="sec__heading sec__heading--fourth">
                <span class="sec__heading-name">庭園内神殿 杜乃宮
                </span>
                <span class="sec__heading-vol">収容人数：100名様
                </span>
            </div>        
            <div class="sec__text  sec__text--fourth">
                <p>・ 庭園内独立型のため大きな窓から庭園が見え、四季を感じることができます</p>
                <p>・ 新郎新婦含め最大１０２名様までご利用できます</p>
                <p>・ 雅楽三管と巫女の舞は、さながら神社のような挙式です</p>
                <p>・ ここまでの規模となる神殿は都内で唯一</p>
                <p>・ 出雲大社の縁結びの神である出雲大社の大国主命が祭られています</p>
            </div>
            <div class="images ">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony04-01.jpg" } alt="">
                    <p class="images__text">神社のような雅楽三管と巫女の舞
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony04-02.jpg" } alt="">
                    <p class="images__text">ホテル椿山荘東京ならではの緑の中にあります
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony04-03.jpg" } alt="">
                    <p class="images__text">厳かな演出で行う三々九度も格調高い雰囲気に
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sec sec--fifth">
        <div class="sec__inner">
            <div class="sec__heading sec__heading--fifth">
                <span class="sec__heading-name">慶雲殿
                </span>
                <span class="sec__heading-vol">収容人数：52名様
                </span>
            </div>        
            <div class="sec__text  sec__text--fifth">

                <p>・ 身を清め、両家の橋渡しを意味する鳥居と太鼓橋をご用意しています</p>
                <p>・ ご入場の際は、神殿内が暗くなり、優しい光がお２人を照らします</p>
                <p>・ 出雲大社の縁結びの神である出雲大社の大国主命が祭られています</p>
                
            </div>
            <div class="images ">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony05-01.jpg" } alt="">
                    <p class="images__text">古き良き時代の晴れ姿は、花嫁の永遠の憧れ
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony05-02.jpg" } alt="">
                    <p class="images__text">神殿へと続く参道には鳥居と太鼓橋
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony05-03.jpg" } alt="">
                    <p class="images__text">感動的な演出が盛りだくさん
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sec sec--sixth">
        <div class="sec__inner">
            <div class="sec__heading sec__heading--sixth">
                <span class="sec__heading-name">豊生殿
                </span>
                <span class="sec__heading-vol">収容人数：60名様
                </span>
            </div>        
            <div class="sec__text  sec__text--sixth">

                <p>・ 椿をモチーフにした創作和紙と椿石を使った床で構築されています</p>
                <p>・ 総檜造りです</p>
                <p>・ ふんわりと檜の香りのする優しい光の明るい神殿です</p>
                <p>・ 出雲大社の縁結びの神である出雲大社の大国主命が祭られています</p>

            </div>
            <div class="images ">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony06-01.jpg" } alt="">
                    <p class="images__text">荘厳な雅楽が響きます
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony06-02.jpg" } alt="">
                    <p class="images__text">お祀りするのは縁結びの出雲大社
                    </p>
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony06-03.jpg" } alt="">
                    <p class="images__text">厳粛に誓詞を奏上
                    </p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="ceremony-heading" data-en="RESTAURANT">
        <p>料亭ウエディング</p>
    </div>

    <div class="sec sec--seventh">
        <div class="sec__inner">
            <div class="sec__text  sec__text--seventh">
                <p>四季の恵みを存分に活かした日本料理の本格料亭「錦水」や、富士山溶岩石の石焼会席の「木春堂」などのレストランウエディングも対応しています。</p>
                <p>ご自宅にゲストをお招きするような料亭でのお食事会スタイルをお楽しみください。</p>
            </div>
            <div class="images ">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony07-01.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony07-02.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony07-03.jpg" } alt="">
                </div>
            </div>
        </div>
    </div>
    

    <div class="ceremony-heading" data-en="GARDEN">
        <p>ガーデンウエディング</p>
    </div>

    <div class="sec sec--eighth">
        <div class="sec__inner">
 
            <div class="sec__text  sec__text--eighth">
               
                <p>緑に囲まれた素敵なガーデンウエディングです。緑豊かな芝生のプライベードガーデンでは、テラスと共に美しく楽しい演出を取り入れることでゲストと一緒にお楽しみいただけます。</p>
                <p>テラスがなければできない楽しい演出を取り入れてゲストと一緒にお楽しみください。</p>

            </div>
            <div class="images ">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony08-01.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony08-02.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/ceremony08-03.jpg" } alt="">
                </div>
            </div>
        </div>
    </div>
    


</div>

<style lang="scss">
@use '../styles/variables.scss' as v;

.wrapper{
    padding: 100px 0;
    font-family: v.$mincho;
    @include v.mq(md){
        padding: 50px 0;
    }
}
.heading{
    @include v.common_heading;
}
.lead{
    text-align: center;
    max-width: 96%;
    margin: 0 auto 100px;
    @include v.mq(md){
		font-size: max(14px, v.px2vw(16,768));
        margin-bottom: 50px;
	}
}

.ceremony-heading{
    @include v.main_width;
    margin-bottom: 40px;
    font-size: 32px;
    padding: 20px 0;
    position: relative;
    display: flex;
    align-items: center;

    @include v.mq(md){
            font-size: max(22px, v.px2vw(32,768));
        }

    &::before{
        content: attr(data-en);
        position: absolute;
        left: 100px;
        font-size: 80px;
        z-index: -1;
        color: #F2F2F2;
        @include v.mq(md){
            font-size: max(40px, v.px2vw(80,768));
        }
    }
}

.sec{
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-size: 45vw auto,cover;
    &--first{
        background-image: 
            url(  v.$rutePath + '/img/ceremony01-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: right top, center;
    }
    &--second{
        background-image: 
            url(  v.$rutePath + '/img/ceremony02-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: left top, center;
        @include v.mq(md){
            background-position: right top, center;
        }
    }

    &--third{
        background-image: 
            url(  v.$rutePath + '/img/ceremony03-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: right top, center;
    }

    &--fourth{
        background-image: 
            url(  v.$rutePath + '/img/ceremony04-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: left top, center;
        @include v.mq(md){
            background-position: right top, center;
        }
    }

    &--fifth{
        background-image: 
            url(  v.$rutePath + '/img/ceremony05-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: right top, center;
    }

    &--sixth{
        background-image: 
            url(  v.$rutePath + '/img/ceremony06-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: left top, center;
        @include v.mq(md){
            background-position: right top, center;
        }
    }

    &--seventh{
        background-image: 
            url(  v.$rutePath + '/img/ceremony07-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: right top, center;
        
    }

    &--eighth{
        background-image: 
            url(  v.$rutePath + '/img/ceremony08-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: left top, center;
        @include v.mq(md){
            background-position: right top, center;
        }
    }


    &__inner{
        @include v.main_width;
    }
    &__heading{
        margin-bottom: 20px;
        width: 55%;
        padding-right: 20px;
        @include v.mq(md){
            width: 96%;
        }
        &--second,
        &--fourth,
        &--sixth,
        &--eighth{
            margin-left: auto;
            padding-left: 20px;
            padding-right: 0;
        }
        
    }
    &__heading-name{
        width: fit-content;
        color: v.$gold;
        font-size: 36px;
        display: block;
        border-top: 2px solid;
        padding-right: 100px;
        margin-bottom: 20px;
    }
    &__heading-vol{
        font-size: 22px;
        font-weight: bold;
    }

    &__text{
        width: 55%;
        margin-bottom: 80px;
        font-size: 15px;
        padding-right: 20px;
        @include v.mq(md){
            width: 96%;
        }
        &--second,
        &--fourth,
        &--sixth,
        &--eighth{
            margin-left: auto;
            padding-left: 20px;
            padding-right: 0;
        }

        &--seventh,
        &--eighth{
            margin-bottom: 250px;
        }

    }
}

.images{
    display: grid;
    //grid-template-columns: 31% 31% 31%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto;
    gap: 40px ;
    justify-content: space-between;

    &--second{
       // grid-template-columns: 24% 24% 24% 24%;
    }
    
    &__img{
        margin-bottom: 4px;
    }

    &__text{
        text-align: center;
        font-size: 13px;
        font-weight: bold;
    }
}

</style>