---
const { rutePath } = Astro.props;
---

<div class="wrapper">

    <div class="inner">

        <div class="heading">
            <h2 class="heading__text">ブライダルフェアをお楽しみください</h2>
        </div>

        <div class="text">
            <p>ホテル椿山荘東京には、宴会場は<br class="mdbr">もちろんのこと挙式会場も充実しています。</p>
            <p>洋風な結婚式、和風な結婚式どちらにも<br class="mdbr">対応することが可能ですので<br>まだどちらで行うかも決めきれて<br class="mdbr">いないという人は実際に<br>式場見学をしていただくと<br class="mdbr">イメージが湧きやすくなるでしょう。</p>
        </div>

        <div class="btns">
            <a href="#" class="btns__item btns__item--green">
                <span class="btns__above">最新の開催予定フェアを順次更新</span>
                <span class="btns__text"><span class="btns__em">ブライダルフェア</span>を確認する <i class="fas fa-chevron-right"></i></span>
            </a>
        </div>
    </div>
</div>

<style lang="scss">
@use '../styles/variables.scss' as v;
@include v.cv_area;

.btns{
    &__item{
        width: 60%;
        @include v.mq(md){
            width: 100%;
        }
    }
    &__em{
        display: inline;
    }
}


</style>