---
const { rutePath } = Astro.props;
---
<div class="wrapper">

    <div class="inner">
        <div class="heading">
            <h2 class="heading__text">ホテル椿山荘東京では<br class="mdbr">定期的にブライダルフェアを開催</h2>
        </div>

        <div class="text">
            <p>見学会、模擬挙式・料理試食会、演出体験、<br class="mdbr">衣装試着、相談会等 様々な疑問や<br>不安を解消するためにも、<br class="mdbr">まずは是非ブライダルフェアにご参加ください。</p>
            <p>ホテル椿山荘東京のブライダルフェアでは、<br class="mdbr">挙式をお考えの方々の様々な<br>ご要望を叶えるためにウエディング相談会<br class="mdbr">も承っています。</p>
            <p>おふたりにおすすめの結婚式スタイル、<br class="mdbr">空室状況や具体的なお見積り等、<br>ご希望に沿ったご提案をさせていただきます。</p>
        </div>
        <div class="btns">
            <a href="#" class="btns__item btns__item--green">
                <span class="btns__above">最新の開催予定フェアを順次更新</span>
                <span class="btns__text"><span class="btns__em">ブライダルフェア</span>を確認する <i class="fas fa-chevron-right"></i></span>
            </a>
            <a href="#" class="btns__item btns__item--gold">
                <span class="btns__above">WEBパンフレット</span>
                <span class="btns__text"><span class="btns__em">資料のご請求</span>はこちら <i class="fas fa-chevron-right"></i></span>
            </a>
        </div>
    </div>
</div>

<style lang="scss">
@use '../styles/variables.scss' as v;
@include v.cv_area;


</style>