---
const { rutePath } = Astro.props;
---
<div class="wrapper">

    <div class="inner">

        <div class="heading">
            <h2 class="heading__text">ホテル椿山荘東京では定期的にブライダルフェアを開催</h2>
        </div>

        <div class="text">
            <p>見学会、模擬挙式・料理試食会、演出体験、衣装試着、相談会等 様々な疑問や<br>不安を解消するためにも、まずは是非ブライダルフェアにご参加ください。</p>
            <p>ホテル椿山荘東京のブライダルフェアでは、挙式をお考えの方々の様々な<br>ご要望を叶えるためにウエディング相談会も承っています。</p>
            <p>おふたりにおすすめの結婚式スタイル、空室状況や具体的なお見積り等、<br>ご希望に沿ったご提案をさせていただきます。</p>
        </div>

        <div class="btns">
            <a href="#" class="btns__item btns__item--green">
                <span class="btns__above">最新の開催予定フェアを順次更新</span>
                <span class="btns__text"><span class="btns__em">ブライダルフェア</span>を確認する <i class="fas fa-chevron-right"></i></span>
            </a>
            <a href="#" class="btns__item btns__item--gold">
                <span class="btns__above">WEBパンフレット</span>
                <span class="btns__text"><span class="btns__em">資料のご請求</span>はこちら <i class="fas fa-chevron-right"></i></span>
            </a>
        </div>
    </div>
</div>

<style lang="scss">
@use '../styles/variables.scss' as v;
    
.wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(  v.$rutePath + '/img/cv03-bg.jpg');
    background-size: cover;
    min-height: 100vh;
    font-family: v.$mincho;
    position: relative;
}

.inner{
    width: v.$main_width;
    margin: 0 auto;
    background-color: rgba(#fff,.5);
    padding: 64px 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.heading{
    font-size: 24px;
    text-align: center;
    border-bottom: v.$gold 4px solid;
    padding-bottom: 30px ;
    margin-bottom: 64px;
}

.text{
    font-size: 24px;
    text-align: center;
    margin-bottom: 80px;
    p{
        margin-bottom: 1em;
        font-weight: bold;
    }
}

.btns{
    display: flex;
    justify-content: center;
    gap: 40px;
    &__item{
        padding: 20px 0 16px;
        display: block;
        width: 60%;
        text-align: center;
        &--green{
            background-color: v.$green;
            color: v.$green;
        }
        &--gold{
            background-color: v.$gold;
            color: v.$gold;
        }
    }
    &__above{
        background-color: #fff;
        display: block;
        width: 280px;
        margin: 0 auto;
        padding: 4px 12px;
        border-radius: 3em;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
    }

    &__text{
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    &__em{
        color: #fff;
        font-size: 32px;
    }
}


</style>