---
const { rutePath } = Astro.props;
---

<div class="wrapper">

    <div class="inner">

        <div class="heading">
            <h2 class="heading__text">緑に囲まれた、最高の雰囲気と演出で<br>最高の想い出となるウエディングを</h2>
        </div>

        <div class="text">
            <p>場所や空間、料理や演出のご確認には<br class="mdbr">ウエディングフェアをご利用ください</p>
            <p>ホテル椿山荘東京のウエディングについての<br class="mdbr">ＷＥＢパンフレットは資料請求をご利用ください</p>
        </div>

        <div class="btns">
            <a href="https://hotel-chinzanso-tokyo.fuwel.wedding/fair" class="btns__item btns__item--green">
                <span class="btns__above">最新の開催予定フェアを順次更新</span>
                <span class="btns__text"><span class="btns__em">ブライダルフェア</span>を確認する <i class="fas fa-chevron-right"></i></span>
            </a>
            <a href="https://hotel-chinzanso-tokyo.fuwel.wedding/contact#contact-type-request" class="btns__item btns__item--gold">
                <span class="btns__above">WEBパンフレット</span>
                <span class="btns__text"><span class="btns__em">資料のご請求</span>はこちら <i class="fas fa-chevron-right"></i></span>
            </a>
        </div>
    </div>
</div>

<style lang="scss">
@use '../styles/variables.scss' as v;
@include v.cv_area;
</style>