---
const { rutePath } = Astro.props;
---
<div class="wrapper">
    <div class="heading">
        <span class="heading__en">CUISINE</span>
        <h2 class="heading__jp">新しい潮流を生み出す<br class="mdbr"> THE TOKYO CUISINE</h2>
    </div>

    <div class="lead">
        <p>ありとあらゆる文化を受け入れながらす<br class="mdbr">独自の進化を遂げてきた東京の街のように、<br>THE TOKYO CUISINEは、日本料理やす<br class="mdbr">フランス料理といった垣根をこえてす<br class="mdbr">新しい潮流を生み出しています。</p>
    </div>

    <div class="message">
        <div class="message__inner">
            <div class="message__text">
                <p>『選りすぐりの海と山の幸とともに旬の味わいを存分に愉しめる贅沢なコースは、お祝いの席にふさわしく、豪華な食材をふんだんに盛り込んだメニューとなっています。ホテル椿山荘東京を代表する伝統と革新の料理をご堪能ください。</p>
                <p>お約束させていただくことは、「香り・味わい・色合い・触感・温度に至るまで、互換すべてで味わっていただくお料理をお届けすること。そのためには、手に触れるお皿の温かさやテーブルのしつらえまでこだわり抜き、お客様がお皿を目にしたとき、触れたとき、召し上がった時、全ての瞬間の満足をご用意させていただきます。』</p>
                <p>ホテル椿山荘 バンケット料理長 十代 雅之</p>
            </div>

            <div class="message__image">
                <img src={ rutePath + "/img/cuisine.jpg" } alt="">
            </div>
        </div>
    </div>


</div>

<style lang="scss">
@use '../styles/variables.scss' as v;

.wrapper{
    padding: 100px 0;
    font-family: v.$mincho;
    @include v.mq(md){
        padding: 50px 0;
    }
}
.heading{
    @include v.common_heading;
}

.lead{
    text-align: center;
    max-width: 96%;
    margin: 0 auto 100px;
    @include v.mq(md){
		font-size: max(14px, v.px2vw(16,768));
        margin-bottom: 50px;
	}
}

.message{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background-color: v.$cream;
        width: calc( ( 100% - v.$main_width + 400px ) / 2);
        
        height: 100%;
        right: 0;
        top: 0;
        @include v.mq(xl){
            display: none;
        }
    }
    &__inner{
        display: flex;
        @include v.main_width;
        justify-content: center;
        padding-left: 200px;
        padding-right: 200px;
        gap: 5%;
        @include v.mq(xl){
            padding-left: 0px;
            padding-right:0px;
        }
        @include v.mq(md){
            flex-direction: column-reverse;
        }
    }
    &__text{
        padding-top: 20px;
        width: 70%;
        @include v.mq(md){
		    font-size: max(14px, v.px2vw(16,768));
            width: 100%;
	    }
        p{
            margin-bottom: 2em;
        }
    }
    &__image{
        width: 25%;
        @include v.mq(md){
            margin: 0 auto;
	    }
    }
}

</style>