---
const rutePath = "/chinzanso";
---

<footer id="footer">
	<div class="footer01">
		<div class="contentInner">
			<ul>
				<li>
					<a href="https://hotel-chinzanso-tokyo.jp/"
						>ホテル椿山荘東京 トップ</a>
				</li>
				<li><a href="https://hotel-chinzanso-tokyo.jp/stay/">宿泊</a></li>
				<li>
					<a href="https://hotel-chinzanso-tokyo.jp/restaurant/"
						>レストラン</a>
				</li>
				<li><a href="https://hotel-chinzanso-tokyo.jp/relaxation/">スパ</a></li>
				<li><a href="https://hotel-chinzanso-tokyo.jp/garden/">庭園</a></li>
			</ul>
		</div>
		<!-- /.contentInner -->
	</div>
	<div class="footer02">
		<div class="contentInner">
			<ul class="btn">
				<li>
					<a
						href="https://hotel-chinzanso-tokyo.fuwel.wedding/fair"
						onclick="dataLayer.push({'eventcat3':'フェア予約(ヘッダー)'})"
						target="_blank"><span>ブライダルフェア</span></a
					>
				</li>
				<li>
					<a
						href="https://hotel-chinzanso-tokyo.fuwel.wedding/contact#contact-type-inquiry"
						target="_blank"><span>お問い合せ・資料請求</span></a
					>
				</li>
			</ul>

			<ul class="list">
				<li class="txt01">
					<p class="ttl">ホテル椿山荘東京</p>
					<p class="tel">
						<span class="sub">TEL</span><a href="tel:0339430417"
							>03-3943-0417</a
						>
					</p>
				</li>
				<li class="txt02">
					営業時間 11:00～19:00（土日祝 10:00～19:00）<br />
					定休日 火曜日（祝除く）<br />
					〒112-8680 東京都文京区関口2-10-8
				</li>
				<li class="icon">
					<a
						href="https://www.facebook.com/Hotel.Chinzanso.Tokyo.WEDDING/"
						target="_blank"><img src="https://hotel-chinzanso-tokyo.jp/common/img/ico_facebook_b.png" /></a
					>
				</li>
				<li class="icon">
					<a
						href="https://www.instagram.com/hotelchinzansotokyo_wedding/"
						target="_blank"><img src="https://hotel-chinzanso-tokyo.jp/common/img/ico_instagram_b.png" /></a
					>
				</li>
			</ul>
		</div>
		<!-- /.contentInner -->
	</div>
	<div class="footer03">
		<div class="breadcrumb">
			<ul
				class="contentInner"
				itemscope=""
				itemtype="https://schema.org/BreadcrumbList"
			>
				<li
					itemprop="itemListElement"
					itemscope=""
					itemtype="https://schema.org/ListItem"
				>
					<a href="https://hotel-chinzanso-tokyo.jp/" itemprop="item"
						><span itemprop="name">ホテル椿山荘東京</span></a
					>
					<meta itemprop="position" content="1" />
				</li>
				<li
					itemprop="itemListElement"
					itemscope=""
					itemtype="https://schema.org/ListItem"
				>
					<a href="https://hotel-chinzanso-tokyo.jp/wedding/" itemprop="item"
						><span itemprop="name">ウエディングトップ</span></a
					>
					<meta itemprop="position" content="2" />
				</li>
				<li
					itemprop="itemListElement"
					itemscope=""
					itemtype="https://schema.org/ListItem"
				>
					<a
						href="https://hotel-chinzanso-tokyo.jp/wedding/for-wedding/"
						itemprop="item"><span itemprop="name">For wedding</span></a
					>
					<meta itemprop="position" content="3" />
				</li>
				<li
					itemprop="itemListElement"
					itemscope=""
					itemtype="https://schema.org/ListItem"
				>
					<span itemprop="name">憧れるプロポーズの場所や注意点を解説</span>
					<meta itemprop="position" content="4" />
				</li>
			</ul>
		</div>
	</div>
	<div class="footer04">
		<div class="contentInner">
			<p class="ttl">ホテル椿山荘東京 ウエディング</p>
			<div>
				<ul>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/concept/"
							>コンセプト</a>
					</li>
					<li>
						<a
							href="https://hotel-chinzanso-tokyo.fuwel.wedding/fair"
							onclick="dataLayer.push({'eventcat3':'フェア予約(ヘッダー)'})"
							target="_blank">フェア</a
						>
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.fuwel.wedding/plan"
							>プラン</a
						>
					</li>
				</ul>
			</div>
			<div>
				<ul>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/style/"
							>ウエディングスタイル</a
						>
						<ul>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/style/standard/"
									>多彩なスタイルをご紹介</a
								>
							</li>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/style/chapel/"
									>チャペルウエディング</a
								>
							</li>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/style/dinner_party/"
									>少人数婚礼・レストランウエディング</a
								>
							</li>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/style/wakon/"
									>和婚・和装</a>
							</li>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/style/w-happy/"
									>おめでた婚（授かり婚）</a
								>
							</li>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/style/1-5jikai/"
									>ガーデンウエディング</a
								>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div>
				<ul>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/ceremony/"
							>挙式</a
						>
						<ul>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/ceremony/chapel/"
									>キリスト教挙式・人前挙式</a
								>
							</li>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/ceremony/temple/"
									>神前挙式</a>
							</li>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/ceremony/shrine/"
									>神社挙式</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/party/"
							>披露宴</a>
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/cuisine/"
							>料理</a>
					</li>
				</ul>
			</div>
			<div>
				<ul>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/for-wedding/"
							>結婚準備ガイド</a
						>
						<!-- <ul>
													<li><a href="https://hotel-chinzanso-tokyo.jp/wedding/for-wedding/prepare/">結婚準備</a></li>
													<li><a href="https://hotel-chinzanso-tokyo.jp/wedding/for-wedding/lessons/">花嫁講座</a></li>
													<li><a href="https://hotel-chinzanso-tokyo.jp/wedding/for-wedding/parent/">父母講座</a></li>
											</ul> -->
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/item/"
							>アイテム</a
						>
						<ul>
							<li>
								<a href="https://hotel-chinzanso-tokyo.jp/wedding/item/dress/"
									>ドレス・和装</a>
							</li>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/item/beauty/"
									>ビューティー</a>
							</li>
							<li>
								<a
									href="https://hotel-chinzanso-tokyo.jp/wedding/item/flower/"
									>フラワー</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/restaurant/yuino/"
							>結納・お顔合わせ</a>
					</li>
				</ul>
			</div>
			<div>
				<ul>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/news/"
							>ニュース</a>
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/gallery/"
							>ギャラリー</a>
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/report/"
							>ウエディングレポート</a>
					</li>
					<li>
						<a href="https://store.hotel-chinzanso-tokyo.jp/" target="_blank"
							>ギフト(内祝い)サイトへ</a
						>
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/attendance/"
							>よくあるお問い合わせ</a>
					</li>
					<li>
						<a href="https://www.fujita-kanko.co.jp/policy/" target="_blank"
							>プライバシーポリシー</a
						>
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/access/"
							>アクセス</a>
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/attendance/"
							>ご列席者の皆様へ</a>
					</li>
					<li>
						<a
							href="https://fjt.s.bvnavi-asp.com/fujitakanko/chinzanso/login.php"
							target="_blank">ご成約者専用サイトへ</a
						>
					</li>
					<li>
						<a href="https://hotel-chinzanso-tokyo.jp/wedding/corporate/"
							>企業情報</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.contentInner -->
	</div>
	<div class="footer05">
		<ul class="nav01">
			<li>
				<a href="https://hotel-chinzanso-tokyo.jp/wedding/concept/"
					>コンセプト</a>
			</li>
			<li>
				<a
					href="https://hotel-chinzanso-tokyo.fuwel.wedding/fair"
					onclick="dataLayer.push({'eventcat3':'フェア予約(ヘッダー)'})"
					target="_blank">フェア</a
				>
			</li>
			<li>
				<a href="https://hotel-chinzanso-tokyo.fuwel.wedding/plan">プラン</a>
			</li>
			<li>
				<a href="https://hotel-chinzanso-tokyo.jp/wedding/style/"
					>ウエディングスタイル</a>
			</li>
			<li>
				<a href="https://hotel-chinzanso-tokyo.jp/wedding/ceremony/">挙式</a>
			</li>
			<li>
				<a href="https://hotel-chinzanso-tokyo.jp/wedding/party/">披露宴</a>
			</li>
			<li>
				<a href="https://hotel-chinzanso-tokyo.jp/wedding/cuisine/">料理</a>
			</li>
			<li>
				<a href="https://hotel-chinzanso-tokyo.jp/wedding/access/"
					>アクセス</a>
			</li>
			<li>
				<a href="https://hotel-chinzanso-tokyo.jp/wedding/for-wedding/"
					>結婚準備ガイド</a>
			</li>
			<li>
				<a href="https://hotel-chinzanso-tokyo.jp/wedding/attendance/"
					>ご列席者の皆様へ</a>
			</li>
			<li>
				<a href="https://hotel-chinzanso-tokyo.jp/wedding/report/"
					>ウエディングレポート</a>
			</li>
			<li>
				<a
					href="https://fjt.s.bvnavi-asp.com/fujitakanko/chinzanso/login.php"
					target="_blank">ご成約者専用サイトへ</a
				>
			</li>
		</ul>
		<div class="contentInner">
			<!-- <ul class="nav02">
							<li class="mb10"><a href="https://fjt.s.bvnavi-asp.com/fujitakanko/chinzanso/login.php" target="_blank">ご成約者専用サイトへ</a></li>
					</ul> -->
			<ul class="nav03">
				<li>
					<a href="https://hotel-chinzanso-tokyo.jp/wedding/item/"
						>アイテム</a>
				</li>
				<li>
					<a href="https://hotel-chinzanso-tokyo.jp/restaurant/yuino/"
						>結納・お顔合わせ</a>
				</li>
				<li>
					<a href="https://hotel-chinzanso-tokyo.jp/wedding/news/"
						>ニュース</a>
				</li>
				<li>
					<a href="https://hotel-chinzanso-tokyo.jp/wedding/gallery/"
						>ギャラリー</a>
				</li>
				<li>
					<a href="https://store.hotel-chinzanso-tokyo.jp/" target="_blank"
						>ギフト(内祝い)サイトへ</a
					>
				</li>
				<li>
					<a href="https://hotel-chinzanso-tokyo.jp/wedding/attendance/"
						>よくあるお問い合わせ</a>
				</li>
				<li>
					<a href="https://www.fujita-kanko.co.jp/policy/" target="_blank"
						>プライバシーポリシー</a
					>
				</li>
				<li>
					<a
						href="https://www.fujita-kanko.co.jp/corporate/about.html"
						target="_blank">企業情報</a
					>
				</li>
			</ul>
		</div>
		<!-- /.contentInner -->
	</div>
	<p class="copy">Copyright © HOTEL CHINZANSO TOKYO All Rights Reserved.</p>
	<!-- Cookieの要素をコメントアウト -->
	<!-- <div class="popup_cookie_cont" style="bottom: -76.1875px;">
		<div class="popup_cookie">
			<div class="ct">
				<p class="txt">
					安全と利便性向上のためにクッキーを使用しています。当ウェブサイトにアクセスすることにより、個人情報保護方針に記載されているクッキーの使用に同意するものとします。　詳細は<a
						href="https://www.fujita-kanko.co.jp/policy/"
						target="_blank">こちら</a
					>
				</p>
			</div>
			<div class="btn">
				<p class="btn_agree">×</p>
			</div>
		</div>
	</div> -->
	<script type="text/javascript" src="https://hotel-chinzanso-tokyo.jp/common/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="https://hotel-chinzanso-tokyo.jp/common/js/popup_cookie.js"></script>

	<script type="text/javascript" src="https://kit.fontawesome.com/6d24b21b1e.js"></script>
</footer>

<style lang="scss">
	@use "../styles/variables.scss" as v;

	// 椿山荘 wedding.css
	// -------------------------------------------------------------------------------------------------
	#footer .contentInner {
		width: 1000px;
		max-width: 1000px;
		margin: 0 auto;
	}

	@media screen and (max-width: 1260px) {
		#footer .contentInner {
			padding: 0 10px;
			width: auto;
		}
	}

	#footer {
		font-family: "-apple-system", "游ゴシック", "Yu Gothic", YuGothic, Verdana,
			Meiryo, "M+ 1p", sans-serif;
	}

	#footer .footer01 {
		background: #ece4d1;
	}

	#footer .footer01 ul {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 28px 0;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer01 ul {
			display: block;
			text-align: center;
		}
	}

	#footer .footer01 ul li {
		font-family: "游明朝体", "Yu Mincho", YuMincho, "Times New Roman",
			"Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝",
			sans-serif;
		-ms-flex-positive: 1;
		flex-grow: 1;
		position: relative;
		display: inline-block;
		margin-right: 70px;
	}

	@media screen and (max-width: 1260px) {
		#footer .footer01 ul li {
			margin-right: 6vw;
		}
	}

	@media screen and (max-width: 1023px) {
		#footer .footer01 ul li {
			display: block;
			margin-right: 0;
			margin-bottom: 25px;
		}
	}

	#footer .footer01 ul li:last-child {
		-ms-flex-positive: 0;
		flex-grow: 0;
		margin-right: 0;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer01 ul li:last-child {
			margin-bottom: 0;
		}
	}

	#footer .footer01 ul li:last-child a:after {
		display: none;
	}

	#footer .footer01 ul li a {
		color: #98854e;
	}

	#footer .footer01 ul li a:after {
		content: "";
		width: 18px;
		height: 1px;
		background: #98854e;
		display: block;
		position: absolute;
		right: 0;
		top: 11px;
		-webkit-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}

	@media screen and (max-width: 1023px) {
		#footer .footer01 ul li a:after {
			-webkit-transform: rotate(0);
			transform: rotate(0);
			right: 50%;
			-webkit-transform: translateX(50%);
			transform: translateX(50%);
			top: inherit;
			bottom: -13px;
		}
	}

	#footer .footer02 {
		padding: 50px 0;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer02 {
			padding: 30px 0;
		}
	}

	#footer .footer02 .btn {
		text-align: center;
		margin-bottom: 50px;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer02 .btn {
			margin-bottom: 10px;
		}
	}

	#footer .footer02 .btn li {
		display: inline-block;
		margin: 0 18px;
		font-family: "游明朝体", "Yu Mincho", YuMincho, "Times New Roman",
			"Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝",
			sans-serif;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer02 .btn li {
			margin-bottom: 20px;
		}
	}

	#footer .footer02 .btn li a {
		border: 1px solid #b39a62;
		color: #b39a62;
		display: inline-block;
		min-width: 240px;
		padding: 17px;
		position: relative;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer02 .btn li a {
			min-width: 250px;
			padding: 15px;
		}
	}

	#footer .footer02 .btn li a:hover {
		color: #fff;
		opacity: 1;
	}

	#footer .footer02 .btn li a:hover:after {
		bottom: 0px;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	#footer .footer02 .btn li a:hover span {
		color: #fff;
	}

	#footer .footer02 .btn li a:before {
		content: none;
	}

	#footer .footer02 .btn li a:after {
		content: "";
		position: absolute;
		bottom: 50%;
		left: 50%;
		width: 0px;
		height: 0px;
		background: #b39a62;
		opacity: 0;
		transition: all 0.3s ease;
	}

	#footer .footer02 .btn li a span {
		position: relative;
		z-index: 1;
		color: #b39a62;
	}

	#footer .footer02 .list {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer02 .list {
			display: block;
			text-align: center;
		}
	}

	#footer .footer02 .list li {
		margin: 0 15px;
	}

	#footer .footer02 .list li.txt01 {
		font-family: "游明朝体", "Yu Mincho", YuMincho, "Times New Roman",
			"Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝",
			sans-serif;
	}

	#footer .footer02 .list li.txt01 .ttl {
		font-size: 24px;
		font-weight: bold;
	}

	#footer .footer02 .list li.txt01 .tel {
		font-size: 30px;
		font-weight: bold;
	}

	#footer .footer02 .list li.txt01 .tel .sub {
		font-size: 14px;
		vertical-align: middle;
		margin-right: 10px;
	}

	#footer .footer02 .list li.txt02 {
		font-size: 14px;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer02 .list li.txt02 {
			margin-bottom: 20px;
		}
	}

	#footer .footer02 .list li.icon {
		display: inline-block;
	}

	#footer .footer02 .list li:last-child {
		margin: 0 0 0 5px;
	}

	#footer .footer03 {
		border-top: 1px solid #e5e5e5;
	}

	#footer .footer03 ol,
	#footer .footer03 ul {
		display: -ms-flexbox;
		display: flex;
		padding: 8px 0;
	}

	#footer .footer03 ol li,
	#footer .footer03 ul li {
		font-size: 15px;
		position: relative;
		padding-right: 25px;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer03 ol li,
		#footer .footer03 ul li {
			font-size: 10px;
		}
	}

	#footer .footer03 ol li:after,
	#footer .footer03 ul li:after {
		content: "";
		height: 6px;
		width: 6px;
		display: block;
		border-top: 1px solid #555;
		border-right: 1px solid #555;
		position: absolute;
		top: 7px;
		right: 12px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	@media screen and (max-width: 1023px) {
		#footer .footer03 ol li:after,
		#footer .footer03 ul li:after {
			height: 3px;
			width: 3px;
			top: 6px;
		}
	}

	#footer .footer03 ol li:last-child:after,
	#footer .footer03 ul li:last-child:after {
		display: none;
	}

	#footer .footer04 {
		background: #f4f4f4;
		padding: 40px 0 20px;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer04 {
			display: none;
		}
	}

	#footer .footer04 .contentInner {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	#footer .footer04 .contentInner > .ttl {
		width: 100%;
		font-size: 20px;
		font-family: "游明朝体", "Yu Mincho", YuMincho, "Times New Roman",
			"Hiragino Mincho ProN", "Hiragino Mincho Pro", "HG明朝E", "ＭＳ Ｐ明朝",
			sans-serif;
		font-weight: bold;
		margin-bottom: 20px;
	}

	#footer .footer04 .contentInner > div {
		width: 20%;
	}

	#footer .footer04 .contentInner > div > ul > li {
		font-size: 14px;
		position: relative;
		padding-left: 10px;
		margin-bottom: 15px;
	}

	#footer .footer04 .contentInner > div > ul > li.sub {
		padding-left: 20px;
		margin-top: -10px;
	}

	#footer .footer04 .contentInner > div > ul > li.sub:before {
		left: 10px;
	}

	#footer .footer04 .contentInner > div > ul > li:before {
		content: "";
		height: 1px;
		width: 4px;
		background: #000;
		position: absolute;
		top: 10px;
		left: 0;
	}

	#footer .footer04 .contentInner > div > ul > li ul {
		margin-top: 15px;
		padding-bottom: 10px;
	}

	#footer .footer04 .contentInner > div > ul > li ul li {
		margin-bottom: 15px;
	}

	body.wedding
		#footer
		.footer04
		.contentInner
		> div
		> ul
		> li
		ul
		li:last-child {
		margin-bottom: 0;
	}

	#footer .footer04 .contentInner > div > ul > li ul li a {
		color: #666;
	}

	#footer .footer05 {
		display: none;
		background: #f4f4f4;
	}

	@media screen and (max-width: 1023px) {
		#footer .footer05 {
			display: block;
		}
	}

	#footer .footer05 .nav01 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 20px;
		border-top: 1px solid #999;
	}

	#footer .footer05 .nav01 li {
		width: 50%;
		text-align: center;
		border-bottom: 1px solid #999;
		font-size: 12px;
	}

	#footer .footer05 .nav01 li:nth-child(odd) {
		border-right: 1px solid #999;
	}

	#footer .footer05 .nav01 li a {
		display: block;
		padding: 10px;
	}

	#footer .footer05 .nav02 {
		text-align: center;
		margin-bottom: 25px;
	}

	#footer .footer05 .nav02 li {
		border: 1px solid #999;
		font-size: 11px;
	}

	#footer .footer05 .nav02 li a {
		padding: 15px;
		display: block;
	}

	#footer .footer05 .nav03 {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-bottom: 20px;
	}

	#footer .footer05 .nav03 li {
		width: 50%;
		margin-bottom: 10px;
		font-size: 12px;
	}

	#footer .copy {
		background: #1b1b1b;
		color: #fff;
		font-size: 10px;
		text-align: center;
		padding: 22px 0;
	}
</style>
