<div class="wrapper">
    <div class="heading">
        <span class="heading__en">HOSPITALITY</span>
        <h2 class="heading__jp">ホテル椿山荘東京のウエディングが選ばれる理由</h2>
    </div>

    <div class="sec sec--first">
        <div class="sec__inner">
            <div class="sec__heading">
                <span class="sec__heading-num">01</span>
                <span class="sec__heading-text">希望を叶えるウエディングスタイル</span>
            </div>        
            <div class="sec__text">
                <p>ホテル椿山荘東京では、ご要望に応じて、多彩なウエディングスタイルをご提案いたします。「上品で華やかな格式高い披露宴にしたい」「さながら森の中で永遠の緑を感じる和やかな披露宴にしたい」など、おふたりのイメージをお聞かせください。一般的なホテルウエディングはもちろんのこと、あなたも様々なご状況に応じたウエディングスタイルを執り行うことが可能です。</p>
            </div>
            <div class="images">
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality01-01.jpg" alt="">
                    <p class="images__text">挙式後に庭園で過ごすチャペルウエディング</p>
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality01-02.jpg" alt="">
                    <p class="images__text">緑が目の前に広がる石焼会席</p>
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality01-03.jpg" alt="">
                    <p class="images__text">庭園内にある料亭などのレストランウエディング</p>
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality01-04.jpg" alt="">
                    <p class="images__text">出雲大社の主祭神の御前での神前挙式</p>
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality01-05.jpg" alt="">
                    <p class="images__text">緑豊かな芝生のプライベートガーデンウエディング</p>
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality01-06.jpg" alt="">
                    <p class="images__text">最短1ヶ月でご準備可能なおめでた婚</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sec sec--second">
        <div class="sec__inner">
            <div class="sec__heading sec__heading--second">
                <span class="sec__heading-num">02</span>
                <span class="sec__heading-text">ゲストが感動するほど豪華な食材を使った料理</span>
            </div>        
            <div class="sec__text  sec__text--second">
                <p>素晴らしいウエディングを、笑顔のゲストとともに祝う披露宴。参加していただいたゲストに感謝の思いを込めて振る舞う料理は、結婚式のもうひとつの主役と言っても過言ではありません。「四季を大切にするホテル」として、その時期の最高の食材を最高の調理法で、正統かつ洗練されたコース、目にも美しい一皿に仕上げています。70年以上にわたる歴史の中で作り上げてきた料理は、皆さまに愛され、結婚式とともに世代を超えて受け継がれてきました。伝統に、時代に合わせたオリジナルのエッセンスを加えて。</p>
            </div>
            <div class="images images--second">
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality02-01.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality02-02.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality02-03.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality02-04.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="sec sec--third">
        <div class="sec__inner">
            <div class="sec__heading sec__heading--third">
                <span class="sec__heading-num">03</span>
                <span class="sec__heading-text">時代とともに変化するロケーション</span>
            </div>        
            <div class="sec__text  sec__text--third">
                <p>ホテル椿山荘東京は、政治家・山縣有朋が1878年に私財を投じて購入し、庭園と邸宅をつくり「椿山荘」と名付けたことが始まりです。2022年11月に開業70周年を迎えたホテル椿山荘東京の庭園には、四季折々に表情を変える豊かな自然と歴史を感じさせる史跡が多く存在します。自由に散策できる広大な庭園には、国の有形文化財の三重塔や茶室、史跡があり、春の桜、きらめく新緑、初夏の蛍、夏の涼やかな滝のしぶき、紅葉、雪景色の中の椿など、四季折々の庭園や高級でクラシカルなホテルや式場の雰囲気が魅力です。季節ごとに違った趣が楽しめる日本庭園のある結婚式場は、新郎新婦の衣装が映えるだけではなく、招待されたゲストも空いた時間に散歩を楽しめるので喜ばれることでしょう。</p>
            </div>
            <div class="images ">
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality03-01.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality03-02.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality03-03.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality03-04.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality03-05.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality03-06.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="sec sec--fourth">
        <div class="sec__inner">
            <div class="sec__heading sec__heading--fourth">
                <span class="sec__heading-num">04</span>
                <span class="sec__heading-text">トラベルガイドも認める一流のサービス</span>
            </div>        
            <div class="sec__text  sec__text--fourth">
                <p>「フォーブス・トラベルガイド」が発表した格付けの、ホテル部門・スパ部門で名だたるホテルが並ぶ4つ星を獲得(「フォーブストラベルガイドとは権威ある5つ星の格付けシステムを世界で初めて導入したトラベルガイド)。1958年の創設以来、60年以上にわたりサービスやホスピタリティに優れた高級ホテルの格付けとレビューを提供しています。また、特に最高級の施設とサービスにより、記憶に残る体験を提供するホテルとして認められ「プリファードホテルズ & リゾーツ」の「L.V.X. Collection」に加盟いたしております。会社の方やご年配の方までも幅広いゲストが格別な時間を過ごせることをお約束します。</p>
            </div>
            <div class="images ">
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality04-01.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality04-02.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality04-03.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality04-04.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality04-05.jpg" alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src="/img/hospitality04-06.jpg" alt="">
                </div>
            </div>
        </div>
    </div>


</div>


<style lang="scss">
@use '../styles/variables.scss' as v;

.wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: v.$mincho;
}
.heading{
    @include v.common_heading;
}

.sec{
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-size: 45vw auto,cover;
    &--first{
        background-image: 
            url('/img/hospitality01-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: right top, center;
    }
    &--second{
        background-image: 
            url('/img/hospitality02-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: left top, center;
    }

    &--third{
        background-image: 
            url('/img/hospitality03-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: right top, center;
    }

    &--fourth{
        background-image: 
            url('/img/hospitality04-bg.jpg'),    
            linear-gradient(180deg, v.$cream 0%, v.$cream calc(45vw * 9 / 16), #fff calc(45vw * 9 / 16), #fff 100%);
        background-position: left top, center;
    }


    &__inner{
        width: v.$main_width;
        margin: 0 auto 0;
    }
    &__heading{
        margin-bottom: 20px;
        width: 55%;

        padding-right: 20px;
        &--second,
        &--fourth{
            margin-left: auto;
            padding-left: 20px;
            padding-right: 0;
        }
        
    }
    &__heading-num{
        width: fit-content;
        color: v.$gold;
        font-size: 50px;
        display: block;
        border-top: 2px solid;
        padding-right: 100px;
    }
    &__heading-text{
        font-size: 24px;
    }

    &__text{
        width: 55%;
        margin-bottom: 40px;
        font-size: 15px;
        padding-right: 20px;
        &--second,
        &--fourth{
            margin-left: auto;
            padding-left: 20px;
            padding-right: 0;
        }
    }
}

.images{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto auto;
    gap: 40px 1%;

    &--second{
        grid-template-columns: 24% 24% 24% 24%;
    }
    
    &__item{
        //width: 32%;
    }

    &__text{
        text-align: center;
    }
}


</style>
