---
const { rutePath } = Astro.props;
---

<div class="main-visual">
    
    <div class="main-visual__phrase ">
        <div class="main-visual__heading">
            <h1 class="main-visual__heading-text">いつまでも記憶に残る特別な結婚式だからこそ、<br>上質な思い出作りを</h1>
        </div>
    </div>

    <div class="main-visual__btns">
        <div class="main-visual__btn">
            <a class="main-visual__btn-link main-visual__btn-link--green" href="http://hotel-chinzanso-tokyo.fuwel.wedding/fair" onclick="dataLayer.push({'eventcat3':'フェア予約(ヘッダー)'})"><span class="md-hide">現在開催予定の<br></span><span class="em">ブライダルフェア</span>はこちら</a>
        </div>
        <div class="main-visual__btn">
            <a class="main-visual__btn-link main-visual__btn-link--gold" href="https://hotel-chinzanso-tokyo.fuwel.wedding/contact#contact-type-request"><span class="md-hide">ＷＥＢパンフレットの<br></span><span class="em">資料請求</span>はこちら</a>
        </div>
    </div>
</div>


<style lang="scss">
@use '../styles/variables.scss' as v;

.main-visual{
    background-image: url(  v.$rutePath + '/img/main-visual-bg.jpg.webp');
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    font-family: v.$mincho;
    padding-top: 15vh;
    max-width: 100%;
    @include v.mq(md){
        padding-top: 15vh;
    }
    &__phrase{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-color: rgba(#fff,.6);
            width: calc( ( 100vw - v.$main_width - ( 100vw - 100% ) ) / 2 );
            height: 100%;
            display: block;
        }
    }
    &__heading{
        @include v.main_width;
        max-width: 100%;
    }
    &__heading-text{
        padding: 20px;
        background-color: rgba(#fff,.6);
        width: fit-content;
        @include v.mq(lg){
            font-size: max(28px, v.px2vw(32,1024));
        }
        @include v.mq(md){
            font-size: max(26px, v.px2vw(28,768));
        }
        @include v.mq(sm){
            
            padding: 10px;
            font-size: max(20px, v.px2vw(26,640));
            br{
                display: none;
            }
        }
    }

    &__btns{
        background-color: rgba(#fff,.6);
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        gap: 20px;
        
        @include v.mq(sm){
            gap: 10px;
        }
    }

    &__btn{
        width: 400px;
        border: 1px solid #fff;
        text-align: center;
        box-shadow: 1px 1px 2px #fff;
        @include v.mq(lg){
            width: max(360px,v.px2vw(400,1024));
        }
        @include v.mq(sm){
            width: 48%;
        }
    }

    &__btn-link{
        padding: 10px 40px;
        display: block;
        color: #fff;
        @include v.mq(lg){
            font-size: max(15px, v.px2vw(16,1024));
        }
        @include v.mq(md){
            padding: 10px;
        }
        .em{
            display: inline-block;
            font-size: 32px;
            @include v.mq(lg){
                font-size: max(28px, v.px2vw(32,1024));
            }
            @include v.mq(md){
                font-size: max(17px, v.px2vw(28,768));
                display: block;
            }
        }
        &--green{
            background-color: v.$green;
        }
        &--gold{
            background-color: v.$gold;
        }

        &:hover{
            opacity: .8;
        }

    }

}
</style>
