---
const { rutePath } = Astro.props;
---
<div class="wrapper">
    <div class="heading">
        <span class="heading__en">VOICE</span>
        <h2 class="heading__jp">ホテル椿山荘東京で<br class="mdbr">挙式された方の体験談</h2>
    </div>

    <div class="lead">
        <p>誰ひとりとして同じ結婚式はございません。<br class="mdbr">ホテル椿山荘東京は皆様ひとりひとりの<br>物語を大切にしています。最後にそんな皆様からの<br class="mdbr">お声をご紹介します。</p>
    </div>

    <div class="voice">
        <div class="voice__box">
            <div class="voice__heading">
                <p>◎「都心にある緑の庭園や大理石が気に入りました」</p>
            </div>
            <div class="voice__text">
                <p>都内にありながら緑が多い庭園があることや、大理石の階段が気に入り、またブライダルフェアで担当してくださった方が親しみやすい方だったことも決め手になり、ホテル椿山荘東京を選びました。</p>
            </div>
            <div class="images">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice1-1.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice1-2.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice1-3.jpg" } alt="">
                </div>
            </div>
        </div>

        <div class="voice__box">
            <div class="voice__heading">
                <p>◎「景色の良い庭園と美味しい料理が決め手になりました」</p>
            </div>
            <div class="voice__text">
                <p>庭園をはじめとし、景色の良い場所が多いところ、またロビーの大理石のインパクトあるところが気に入り、ブライダルフェアに行きました。その際に試食させていただいたお料理がとても美味しく、ここで結婚式を挙げたいと思いました。</p>
            </div>
            <div class="images">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice2-1.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice2-2.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice2-3.jpg" } alt="">
                </div>
            </div>
        </div>

        <div class="voice__box">
            <div class="voice__heading">
                <p>◎「コロナ対策も徹底して、これなら安心してゲストも呼べると思いました」</p>
            </div>
            <div class="voice__text">
                <p>ホテル椿山荘東京は、広々とした敷地で開放的な雰囲気が味わえ、料理が美味しい点が気に入りました。また、コロナ対策が徹底していて、安心してゲストを呼ぶことができると感じました。正直、ホテル椿山荘東京でなければ結婚式を諦めていたと思います。</p>
            </div>
            <div class="images">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice3-1.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice3-2.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice3-3.jpg" } alt="">
                </div>
            </div>
        </div>


        <div class="voice__box">
            <div class="voice__heading">
                <p>◎「立派な神殿で厳かに式を行うことができました」</p>
            </div>
            <div class="voice__text">
                <p>日本の文化を大切にしたかったので、和婚を選びました。立派な神殿で厳かに式を行うことができてよかったです。友人の結婚式でも神前式は見たことがなかったので流れが分からず緊張しましたが、スタッフの方がサポートしてくださったので間違えずに無事式を終えることができました。</p>
            </div>
            <div class="images">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice4-1.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice4-2.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice4-3.jpg" } alt="">
                </div>
            </div>
        </div>


        <div class="voice__box">
            <div class="voice__heading">
                <p>◎「都心にある緑あふれるロケーションが良かったです」</p>
            </div>
            <div class="voice__text">
                <p>ご招待するお人数が100名を超えていたこともあり、広々とした開放的な会場を探していました。ホテル椿山荘東京は、都心にありながら緑に囲まれる雰囲気が良かったです。挙式は、ホテルの近くのカテドラル教会で行いました。披露宴会場は、天井高もあり、華やかで正統派、豪華な結婚式ができると思い、「ボールルーム」に決めました。</p>
            </div>
            <div class="images">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice5-1.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice5-2.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice5-3.jpg" } alt="">
                </div>
            </div>
        </div>

        <div class="voice__box">
            <div class="voice__heading">
                <p>◎「思い出に残るホームな結婚式ができました」</p>
            </div>
            <div class="voice__text">
                <p>一歳になりたての娘とアットホームな結婚式がしたいと思っていました。できる限り娘の記憶・記録に残るようにしたいと思い、ウエルカムスペースに娘の写真を飾り、また当日も撮影隊の皆さまの奮闘で素敵な写真を残すことができました！</p>
            </div>
            <div class="images">
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice6-1.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice6-2.jpg" } alt="">
                </div>
                <div class="images__item">
                    <img class="images__img" src={ rutePath + "/img/voice6-3.jpg" } alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="btn">
        <a href="https://hotel-chinzanso-tokyo.jp/wedding/report/">ウエディングレポートへ <i class="fas fa-chevron-right"></i></a>
    </div>

</div>

<style lang="scss">
@use '../styles/variables.scss' as v;

.wrapper{
    padding: 100px 0;
    font-family: v.$mincho;
    @include v.mq(md){
        padding: 50px 0;
    }
}
.heading{
    @include v.common_heading;
}
.lead{
    text-align: center;
    max-width: 96%;
    margin: 0 auto 100px;
    @include v.mq(md){
		font-size: max(14px, v.px2vw(16,768));
        margin-bottom: 50px;
	}

}

.voice{
    @include v.main_width;
    margin-bottom: 100px;
    @include v.mq(md){
        margin-bottom: 50px;
    }
    &__box{
        border-bottom: 1px solid v.$gold;
        padding-top: 50px;
        padding-bottom: 50px;
        @include v.mq(sm){
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    &__heading{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        @include v.mq(md){
            font-size: max(18px, v.px2vw(24,768));
            margin-bottom: 10px;
        }
    }

    &__text{
        margin-bottom: 20px;
        @include v.mq(md){
            font-size: 14px;
         
        }
    }
   
}

.images{
    display: flex;
    gap: 2%;
}

.btn{
    width: fit-content;
    margin: 0 auto;
    a{
        color: v.$gold;
        font-size: 24px;
        border: 3px solid v.$gold;
        padding: 20px 90px 16px 100px;
        display: block;
        border-radius: 3em;
        font-weight: bold;

        @include v.mq(md){
            padding: 10px 50px 8px 60px;
            font-size: 18px;
        }

    }
    i{
        margin-left: 30px;
    }
}


</style>