---
export interface Props {
	title: string;
}

const { title } = Astro.props;


const rutePath = '/chinzansou';
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon"  href={ rutePath + "/favicon.ico"} />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex">

		<title>{title}</title>
		
	</head>
	<body>
		<slot />
	</body>
</html>
